<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Clubs
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (ClubUser c in ViewBag.ClubDropDownList)
        {
            <a class="dropdown-item" asp-controller="Books" asp-action="GetCurrentlyReading" asp-route-id="@c.Club.ClubId">@c.Club.Name</a> <br />
        }
    </div>
</div>